# Игнорируем Crow и Boost
Crow/
boost_1_88_0/

# Игнорируем директории сборки
/build/

# Игнорируем IDE файлы
.vscode/
.idea/

# Игнорируем временные файлы системы
*.o
*.a
*.so
*.exe
*.out
*.log
*.swp

# Игнорируем файлы macOS
.DS_Store

# Игнорируем файлы Windows
Thumbs.db
